:root {
    --primario: #9C27B0;
    --primarioOscuro: #89119D;
    --secundario: #FFCE00;
    --secundarioOscuro: rgb(233, 187, 2);
    --blanco: #FFF;
    --negro: #000;

    --rojo-mariana: #E4121E;
    --rojo-mariana-2: #c32341;
    --azul-mariana: #004AAD;
    --azul-mariana-claro: #4F7DCF;

    --gris: #757575;
    --gris-claro: #EEEEEE;

    --fuentePrincipal: 'Staatliches', sans-serif;
    --fuenteClaridad: 'Roboto', sans-serif;
    --fuenteLato: 'Lato', sans-serif;

}

html {
    box-sizing: border-box;
    font-size: 62.5%; 
}

*, *:before, *:after {
    box-sizing: inherit;
}

/** Globales **/
body {
    background-color: var(--blanco);
    font-size: 1.6rem;
    line-height: 1.5;
}
p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
h1, h2, h3 {
    text-align: center;
    color: var(--azul-mariana);
    font-family: var(--fuentePrincipal);
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.4rem;
}



/** Header **/
.header {
    display: flex;
    justify-content: center;
}
.header__logo {
    margin: 3rem 0;
}
@media (min-width: 430px) {
    .header__logo{
        padding: 0 4rem;
    }
     
} 
@media (min-width: 760px) {
  .header__logo{
      max-width: 50rem;
      margin: 0 auto;
  }
} 





/** Footer **/
@media (min-width: 430px) {
  .footer {
    background-color: var(--gris);
    padding: 1rem 0;
    margin-top: 2rem;
    bottom: -100px;
    width: 100%;
    position: relative;
    /*position: absolute; */
}
.footer__texto {
    font-family: var(--fuentePrincipal);
    text-align: center;
    font-size: 2.2rem;
}
} 

@media (min-width: 768px) { /* Para celular, el fondo pasa a ser general*/
  .footer {
    background-color: var(--gris);
    padding: 1rem 0;
    margin-top: 2rem;
    bottom: -100px;
    width: 100%;
    /*position: absolute; */
}
.footer__texto {
    font-family: var(--fuentePrincipal);
    text-align: center;
    font-size: 2.2rem;
}
.footer_activo{
  position: absolute;
}
} 






/** Navegacion **/
.navegacion {
    background-color: var(--azul-mariana);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    min-height: 4rem;
    gap: 2rem; 
}
.navegacion__enlace {
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 3rem;
}
.navegacion__enlace--activo,
.navegacion__enlace:hover {
    color: var(--rojo-mariana);
}

/** Grid **/
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}


/** Formulario **/
.formulario {
    display: grid;
    gap: 2rem;
}

@media (min-width: 300px) {
    .centrar {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    } 
    .formulario__submit {
        margin-top: 2rem;
    }

} 
@media (min-width: 760px) {
    .centrar {
        display: flex;
        align-items: center;
        justify-content: center;
    }
} 


.formulario__campo {
   border: 1rem solid var(--gris);
   background-color: transparent;
   color: var(--negro);
   font-size: 2rem;
   font-family: Arial, Helvetica, sans-serif;
   padding: 1rem;
   appearance: none;
}
.formulario__submit {
    background-color: var(--gris-claro);
    border: #000;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    padding: 2rem;
    transition: background-color .3s ease;
    grid-column: 1 / 3;
}
.formulario__submit:hover {
    cursor: pointer;
    background-color: var(--gris);
}


/*MODAL RECHAZAR ==> BANDEJA
 https://www.youtube.com/watch?v=Iaw9rFopXPY */
 .modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
  }
  .modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .3s;
    --transform: translateY(0);
    --transition: transform .3s .3s;
  }

  @media (min-width: 760px) {
    .modal__container{
    margin: auto;
    max-width: 40%;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition:var(--transition);
    }
  } 
  @media (min-width: 300px) {
       .modal__container{
        margin: auto;
        width: 80%;
        max-height: 90%;
        background-color: #fff;
        border-radius: 6px;
        padding: 3em 2.5em;
        display: grid;
        gap: 1em;
        place-items: center;
        grid-auto-columns: 100%;
        transform: var(--transform);
        transition:var(--transition);
        }
  } 
  


  .modal__title{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: var(--fuenteClaridad);
  }
  .modal__paragraph{
    margin-bottom: 1rem;
    color: var(--rojo-mariana);
    font-family: var(--fuenteClaridad);
  }
  .modal__close{
    text-decoration: none;
    color: var(--blanco);
    background-color: var(--rojo-up);
    padding: 1em 3em;
    border: 1px solid ;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
  }
  .modal__close:hover{
    color: var(--rojo-up);
    background-color: #fff;
  }
  .modal_x{
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
  .modal_x:hover{
    cursor: pointer;
  }






 /* ------------------ STYLE DE LOGIN ------------- */
    
/*GLOBALES -------------- 
    - Botones*/
.boton{
    background-color: var(--rojo-mariana);
    color: var(--blanco);
    font-family: 'Roboto';
    padding: 2rem, 2rem;
    margin: 5rem auto 5rem auto; /* arriba, derecha, abajo, izquierda*/
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.5rem;
    width: 90%;
    text-align: center;
    border: none;
  }
  .boton:hover{
    cursor: pointer;
    background-color: var(--azul-mariana);
    transition: 1s;
    color: var(--blanco);
  }
  .margin-top{
    margin-top: 1.5rem;
  }
  .margin-bottom{
    margin-bottom: 1rem;
  }




/*POSTLIST   ------ */

@media (min-width: 768px) { /* Para celular, el fondo pasa a ser general*/
  .container-flex{
    display: flex;
    justify-content: space-between;
    max-width: 140rem;
    margin: 4rem 2rem;
    padding: 0 auto;
    
  }
  .reception{
    flex-grow: 1;
    max-width: 70%;
    margin-top: 0rem;
    margin-bottom: 0;
    margin-left: 15rem;
  }
  .reception h2{
    font-family: var(--fuenteLato);
    max-width: 60rem;
    max-height: 35rem;
  }
  .reception-a{
    text-decoration: none;
    color: var(--gris);
  }
  .reception-a:hover{
    transition: 0.3s;
    color: var(--rojo-mariana);
  }
  .subtitle-reception{
    font-family: var(--fuenteClaridad);
    color: #000;
    text-transform: uppercase;
  }
  .menu-lat{
    display: flex;
    flex-direction: row;
    margin-right: 20rem;
  }
  .v-line{
    border-left: solid var(--rojo-mariana-2);
    height:25%;
    position: static;
   }
   .bloque-menu{
     margin-left: 2rem;
   }
   .menu-lat a{
     padding-left: .5rem;
     text-decoration: none;
     font-family: var(--fuenteLato);
     color: var(--negro);
     margin-bottom: 3rem;
   }
   .menu-lat a:hover{
     transition: .3s;
     color: var(--rojo-mariana);
   }
   .menu-lat label{
     color: var(--rojo-mariana-2);
   }
   .menu-lat-option{
     margin-bottom: 1rem;
   }
} 



@media (min-width: 345px) {
  .container-flex{
    margin-top: 3rem;
    padding: 0 auto;
    margin-bottom: 4rem;
  }
  .reception{
    margin: 0rem 2rem;
  }
  .reception h2{
    font-family: var(--fuenteLato);
    max-width: 60rem;
    max-height: 35rem;
    font-size: 2.5rem;
  }
  .reception-a{
    text-decoration: none;
    color: var(--gris);
  }
  .reception-a:hover{
    transition: 0.3s;
    color: var(--rojo-mariana);
  }
  .subtitle-reception{
    font-family: var(--fuenteClaridad);
    color: var(--negro);
    text-transform: uppercase;
  }
  .menu-lat{
    display: flex;
    flex-direction: row;
  }
   .bloque-menu{
     margin-left: 2rem;
   }
   .menu-lat a{
     padding-left: .5rem;
     text-decoration: none;
     font-family: var(--fuenteLato);
     color: var(--negro);
     margin-bottom: 3rem;
   }
   .menu-lat a:hover{
     transition: .3s;
     color: var(--rojo-mariana);
   }
   .menu-lat label{
     color: var(--rojo-mariana-2);
   }
   .menu-lat-option{
     margin-bottom: 1rem;
   }
} 
  
  





  /*FORMULARIO ---------------------- */
  .formulario{
    min-height: 6rem;
    /*max-width: 40%;*/
    border-radius:4px;
    /*CENTRAR EL CONTENEDOR */
    display: flex;
    flex-direction: column;
    align-items: center; /*Alineación horizontal*/
    justify-content: center; /*alineación vertical: Lo centra verticalmente*/
    margin: 2rem auto 3rem auto; /* arriba, derecha, abajo, izquierda*/
    min-width: auto;
    background-color: var(--gris-claro);
  
  }

  @media (min-width: 430px) {
    .formulario{
      background-color: var(--gris-claro);
      /*CENTRAR EL CONTENEDOR */
      display: flex;
      flex-direction: column;
      justify-content: center; /*alineación vertical: Lo centra verticalmente*/
      min-width: auto;
      max-width: 90%;
    }
  } 
  @media (min-width: 768px) { /* Para celular, el fondo pasa a ser general*/
    .formulario {
      background-color: var(--gris-claro);
      max-width: 50%;
    }
  } 
  
  .contenedor-form{ /*contenedor vertical*/
    display: flex;
    flex-direction: column;
    align-items: center; /*Alineación horizontal*/
    justify-content: center; /*alineación vertical: Lo centra verticalmente*/
  }
  .contenedor-opciones{ /*contenedor horizontal*/
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:2rem 3rem;
  }
  .contenedor-opciones a {
    font-family: var(--fuentePrincipal);
    text-decoration: none;
    font-weight: bolder;
    font-size:larger;
  }

  .iniciar{
    padding: 2rem 8rem; /* arriba, derecha, abajo, izquierda*/
    background-color: var(--rojo-mariana);
    color: var(--blanco);
    font-family: 'Roboto';
    text-transform: uppercase;
  }
  .registrar{
    padding: 2rem 8rem; /* arriba, derecha, abajo, izquierda*/
    background-color: var(--rojo-mariana);
    color: var(--blanco);
    font-family: 'Roboto';
    text-transform: uppercase;
  }
  .iniciar:hover{
    background-color: var(--rojo-mariana-2);
    transition: 1s;
  }
  .registrar:hover{
    background-color: var(--rojo-mariana-2);
    transition: 1s;
  }
  @media (min-width: 768px) { /* Para celular, el fondo pasa a ser general*/
    .iniciar {
      padding: 2rem 8rem;
    }
  } 
  @media (min-width: 345px) {
    .iniciar {
        padding: 2rem 2rem;
      }
    .registrar{
        padding: 2rem 2rem;
    }
  } 
  
  



  /*INICIAR SESIÓN*/
  .login-formulario{
    display: flex;
    flex-direction: column;
    justify-content: center; /*alineación vertical: Lo centra verticalmente*/
    background-color: var(--blanco-opaco);
    padding: 2rem 5rem; /* arriba, derecha, abajo, izquierda*/
    margin-bottom: 5rem ;
  }
  .input{
    font-family: var(--fuenteLato);
    font-size: larger;
    padding: .5rem 15rem .5rem 1rem;/* arriba, derecha, abajo, izquierda*/
    margin: 2rem auto 2rem auto; /* arriba, derecha, abajo, izquierda*/
  }
  .olvido{
    font-family: var(--fuenteLato);
    text-decoration: none;
    color: #000;
    margin-top: 1rem;
  }
  .boton-activo{
    background-color: var(--rojo-mariana-2);
  }
  .seguimiento{
    text-decoration: none;
    color: #000;
    margin-top: 1rem;
  }
  
  
  /* INTERFAZ DE INICIO ==> REGISTROS.HTML -------------------- */
  @media (min-width: 768px) {
    .colocacion__cuerpo-bandeja{
      padding-left: 3rem;
      padding-right: 3rem;
    }
    .colocacion__cuerpo-formulario{
      margin-left: 1rem;
    }
    .division-interfaz{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .grow1 { flex-grow: 1; }
    .layout__limite {
      max-height: 61rem;
      overflow-y: scroll;
    }
    .layout {
      width: 100%;
      display: flex;
      gap: 1.6rem;
      align-items: center;
      padding: 3rem;
    }
    .sombra{
      box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54); /*Recuadro sombreado*/
      background-color: var(--blanco);
      padding: 2rem;
      border-radius: 1rem;
      }
    .contenedor-bandeja { /*Límites de la barra de navegación*/
      min-width: 65%; /*1200px están limitando la longitud del contenedor*/
    }
    .contenedor-formulario { /*Límites de la barra de navegación*/
      min-width: 35%; /*1200px están limitando la longitud del contenedor*/
    }
    .contenedor2 {  /*DA COLOR A TÍTULOS*/
      background-color: var(--claro-up-2);
      color: var(--negro);
    }
    .separar-tarjetas{
      margin: 1rem;
    }
  } 
  
  
  
  /* VENTANA MODAL PARA REGISTRO */
  .entrada-modal {
    margin-top: 2rem;
  }
  
  
  /*MODAL RECHAZAR ==> BANDEJA
   https://www.youtube.com/watch?v=Iaw9rFopXPY */
   .modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
  }
  .modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
  }
  .modal__container{
    margin: auto;
    width: 40%;
    max-width: 1000px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition:var(--transition);
  }
  .modal__title{
    font-size: 2.5rem;
    font-weight: bold;
  }
  .modal__paragraph{
    margin-bottom: 1rem;
  }
  .modal__close{
    text-decoration: none;
    color: var(--blanco);
    background-color: var(--rojo-up);
    padding: 1em 3em;
    border: 1px solid ;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
  }
  .modal__close:hover{
    color: var(--rojo-up);
    background-color: #fff;
  }
  .modal_x{
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
  .modal_x:hover{
    cursor: pointer;
  }
  
  /*  MODAL ASIGNAR ==> BANDEJA  */
  .modalAsig{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
  }
  .modal--showAsig{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
  }
  .modal__containerAsig{
    margin: auto;
    width: 40%;
    max-width: 1000px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition:var(--transition);
  }
  .modal__titleAsig{
    font-size: 2.5rem;
    font-weight: bold;
  }
  .modal_xAsig{
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
  .modal_xAsig:hover{
    cursor: pointer;
  }
  
  /*  MODAL CERRAR ==> BANDEJA  */
  .modalCerrar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
  }
  .modal--showCerrar{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
  }
  .modal__containerCerrar{
    margin: auto;
    width: 40%;
    max-width: 1000px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition:var(--transition);
  }
  .modal__titleCerrar{
    font-size: 2.5rem;
    font-weight: bold;
  }
  .modal_xCerrar{
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
  .modal_xCerrar:hover{
    cursor: pointer;
  }
  